{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Delete Portfolio </h4>
          <h3>Portfolio "{{ portfolio.name }}" will be deleted. Please confirm. </h3>
          <form class="forms-sample" method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.delete(class_="btn btn-outline-secondary") }}
            {{ form.cancel(class_="btn btn-outline-secondary") }}            
            </form>
        </div>
      </div>
    </div>      
  </div>
</div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
