
<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ title }}</h4>
      <form class="forms-sample" method="post" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.name.label }}
          {{ form.name(placeholder="Name", class="form-control p_input") }}
        </div>
        <div class="form-group">
          {{ form.description.label }}
          {{ form.description(placeholder="", class="form-control p_input") }}
        </div>
        <h4 class="card-title">Assets</h4>
        <p class="card-description"> List of assets in the protfolio </p>
        <div class="asset-list-initial">
          {% set ns = namespace(displayLabels=True) %}
          {% for asset in form.assets %}
          <div class="form-group row">
            <div class="col">
              {% if ns.displayLabels %}
              {{ asset.ticker.label }}
              {% endif %}
              {{ asset.ticker(placeholder="AAPL", class="form-control p_input") }}
            </div>
            <div class="col">
              {% if ns.displayLabels %}
              {{ asset.amount.label }}
              {% set ns.displayLabels = False %}
              {% endif %}
              {{ asset.amount(placeholder="0", class="form-control p_input") }}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="asset-list-anchor"></div>
        <button type="button" class="btn btn-link asset-add-fields-btn">
          More...
        </button>
        <p>{{ form.submit(class_="btn btn-primary mr-2") }}
          {% if cancel_button %}
          {{ form.cancel(class_="btn btn-primary mr-2") }}
          {% endif%}
        </p>
      </form>
    </div>
  </div>
</div>
