{% extends "layouts/base.html" %}

{% block title %} New Portfolio {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  {% for mesg in get_flashed_messages() %}
  <h1>{{ mesg }}</h1>
  {% endfor %}

  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> New Portfolio </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Portfolios</a></li>
          <li class="breadcrumb-item active" aria-current="page">New Portfolio</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      {% with title="New Portfolio", form=form %}
      {% include "edit-portfolio-card.html" %}
      {% endwith %}
    </div>
  </div>
  
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>
  <script src="/static/assets/js/add-assets.js"></script>

{% endblock javascripts %}
