{% extends "layouts/base.html" %}

{% block title %} Portfolio View {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Portfolio: {{ portfolio.name}} </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Portfolios</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ portfolio.name }}</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
            <div class="col-md-9">
              <h4 class="card-title">Assets</h4>
            </div>
            <div class="col-md-3">
              <form class="edit-delete-form" method="post" action="">
                {{ form.hidden_tag() }}
                {{ form.edit(class_="btn btn-outline-secondary") }}
                {{ form.delete(class_="btn btn-outline-secondary") }}
            </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Amount</th>
                    <th>Allocation</th>
                    <th>Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for asset in portfolio.assets %}
                  <tr>
                    <td>{{ asset.info.ticker }}</td>
                    <td>{{ asset.info.name }}</td>
                    <td>{{ asset.info.type }}</td>
                    <td>{{ asset.amount }}</td>
                    <td>
                      {{ "{:0.2f} %".format(asset.allocation() * 100) }}
                    </td>
                    <td> {{ asset.info.currency_sign() }}
                         {{ "{:0.2f}".format(asset.total_price()) }}
                    </td>
                  </tr>
                  {% endfor  %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
